:root {
   
    --color-backgroundMain-1:  #212529;
    --color-backgroundOpcoesPokemon: #343A40;
    --color-textoListaPokemon:  #DEE2E6;
    --color-textoCarregando:  #ADB5BD;
    --color-corNomePokemon: #CED4DA;
    --color-corBackgroundBotaoPesquisa:#4C6EF5;
 
 
  }