@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@100&display=swap');
#pListaPokemon{
    width: 194px;
    height: 31px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-textoListaPokemon);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomePokemon{
    width: 191px;
    height: 26px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-corNomePokemon);
    margin: 32px;
    text-align: center;
    display: flex;
    

}
.cardPokemon{
    width: 280px;
    height: 60px;
    background: var( --color-backgroundOpcoesPokemon);
    border-radius: 8px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.imagemPokemon{
  width: 45px;
  height: 45px;
  margin-left: 12px;
}
.listaPokemons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 40px;

}
.divImagemP{
    width: 280px;
    height: 52px;
   
}